.team {
  background-color: #999;
  height: auto;
  margin: 20px 20px;
  overflow: auto;
}
.team img {
  width: 80px;
  height: 80px;
}
.teamleft {
  border: 1px solid #999;
  background-color: white;
  width: 170px;
  height: 80px;
  margin: 20px 20px;
  padding: 20px 20px;
  float: left;
}
.ImgTeam {
  width: 120px;
  float: left;
}
.teamName {
  width: 80px;
  height: 80px;
  float: right;
}
.teammiddle {
  border: 1px solid #999;
  background-color: white;
  margin-left: 250px;
  margin-top: 20px;
  margin-right: 160px;
}
.teamright {
  border: 1px solid #999;
  background-color: white;
  width: 120px;
  float: right;
  margin: 20px 20px;
}
.teamright img {
  margin: 20px 20px 0px;
  box-shadow: 2px 2px 20px gray;
}
.teamright img:last-child {
  margin-bottom: 20px;
}
.clearfix:after {
  display: table;
  clear: both;
  content: ' ';
}
