doctype html
html(lang="en")
	head
		meta(http-equiv="content-type",content="text/html;charset=utf-8")
		meta(http-equiv="x-ua-compatible",content="IE=edge,chrome=1") 
		meta(content="baidu,task,FE",name="keywords")
		meta(content="the third task of baidu",name="description")
		meta(content="Geeker-Prometheus",name="author")
		link(rel="stylesheet",type="text/css",href="CSS/ThirdTask.css")
		title Third Task
	body
		div(class="team clearfix")
			figure(class="teamleft")
				img(alt="team",title="team",src="IMG/mouse.png",class="ImgTeam")
				p(class="teamName") Geeker-Prometheus
			aside(class="teamright")
				-var mouse = {teamone: "mouse.png",teamtwo: "mouse.png",teamthree: "mouse.png",teamfour: "mouse.png",teamfive: "mouse.png" }
				each value,key in mouse
					img(alt=key,title=key,class=value,src="IMG/#{value}")
			article(class="teammiddle")
				p 前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端
				p 前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端前端